#!/bin/bash
export AMD_VULKAN_ICD=RADV
export EDITOR=/usr/bin/vim
export GTK2_RC_FILES="$HOME/.gtkrc-2.0"
export TERM=xterm-256color
export VISUAL=vim

# Set pyenv root directory
export PYENV_ROOT="$HOME/.pyenv"

# Set vim as default editor
export EDITOR=/usr/bin/vim

# Set history size and ignores
export HISTSIZE=50000000;
export HISTFILESIZE=$HISTSIZE;
export HISTCONTROL=ignoredups;
export HISTIGNORE=" *:ls:cd:cd -:pwd:exit:date:* --help:* -h:pony:pony add *:pony update *:pony save *:pony ls:pony ls *";

# Prefer US English and use UTF-8
export LANG="en_US.UTF-8";
export LC_ALL="en_US.UTF-8";


